prune examples
prune notebooks
prune pyod/test
prune README.md
include README.rst
include requirements.txt
graft pyod/utils/model_analysis_jsons
recursive-include pyod/utils/model_analysis_jsons *.json
