matplotlib                       # optional. Only needed for running examples
nose                             # optional. Only needed for running tests
numpy>=1.13
pytest                           # optional. Only needed for running tests
scipy>=0.19.1
scikit_learn>=0.19.1