combo
furo
geomstats
joblib
keras
matplotlib
nose
numpy>=1.19
numba>=0.51
pyclustering
pytest
pythresh>=0.3.1
ruptures
scipy>=1.5.1
scikit_learn>=0.22.0
scikit-lego
six
sphinx-rtd-theme
sphinxcontrib-bibtex
statsmodels
suod
tensorflow
torch
xgboost
docutils==0.16 # need to lift this later see github for issue
