combo
furo
joblib
keras
matplotlib
nose
numpy>=1.13
numba==0.53 # need to lift this later see github for issue
pytest
scipy>=1.3.1
scikit_learn>=0.20.0
six
sphinx-rtd-theme
sphinxcontrib-bibtex
statsmodels
suod
tensorflow
torch
xgboost
docutils==0.16 # need to lift this later see github for issue
