combo
furo
geomstats
joblib
matplotlib
nose
numpy>=1.19
numba>=0.51
pyclustering
pytest
pythresh>=0.3.1
ruptures
scipy>=1.5.1
scikit-learn>=0.22.0
scikit-lego
sphinx-rtd-theme
sphinxcontrib-bibtex
statsmodels
suod
torch
tqdm
xgboost
docutils
